<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DAY 15</title>
</head>
<body>
    <form method='post' action='/profile'>
        <p>Enter Name: <input type='text' name='name'/></p>
        <p>Enter Age: <input type='text' name='age'/></p>
        <p>Enter Address: <input type='text' name='address'/></p>
        <p>Enter Nationality: <input type='text' name='nationality'/></p>
        <input type='submit' value='submit'/>
    </form>
</body>
</html>